        * {
            padding: 0;
            margin: 0;
            font-family: 'Noto Sans TC', sans-serif;
            box-sizing: border-box;
        }
        .clearfix{
            width: 100%;
            height: 1px;
            clear: both;
        }

        #container {
            max-width: 1200px;
            margin: 0 auto;
        }

        /*        HEADER*/
        header {
            height: 50px;
            background-color: lightcoral;
            text-align: center;
            color: black;
            font-weight: 500;
            line-height: 50px;
            font-size: 23px;
        }

        .blueberry {
            position: relative;
        }

        .blueberry .pager {
            display: none;
        }

        .blueberry::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            background: url(../images/line.png);
            opacity: 0.15;
        }

        /*        HEADER*/

        /*        NAV*/
        nav ul {
            text-align: center;
            background-color: rgba(128, 128, 128, 0.49)
        }

        nav li {
            list-style: none;
            font-size: 18px;
            padding: 15px 10px;
            display: inline-block;
            
        }

        nav a {
            text-decoration: none;
            color: black;
        }

        nav ul li:hover {
            font-weight: 700;
            animation: color 0.5s linear infinite alternate;
            padding: 15px 5px;
            
            
        }
        @keyframes color{
            from{
                background-color: rgba(255, 69, 0, 0.62);
            }
            to{
                background-color: rgba(0, 139, 139, 0.56);
            }
        }

        /*        NAV*/

        /*        BAR*/

        .bar {
            width: 100%;
            height: 40px;
            background: url(../images/menu.png) no-repeat 98% center;
            background-color: rgba(128, 128, 128, 0.49);
            display: none;
        }



        /*        BAR*/
        
/*     關於我們   */
        #about, #mright, #news, #gallery, #message, #location{
            margin: 80px 0px;
            
        }
        #about h2, #mright h2, #news h2, #gallery h2, #message h2,#location h2{
            font-size: 35px;
            text-shadow: 3px 3px 3px gray;
            text-align: center;
            position: relative;
        }
        #about h2::before, #mright h2::before, #news h2::before, #gallery h2::before, #message h2::before,#location h2::before{
            content: "";
            position: absolute;
            width: 200px;
            height: 2px;
            bottom: 0px;
            left: calc(50% - 100px);
            background:linear-gradient(30deg, #222, #FFF, #222);
            animation: lineanimator 1s infinite alternate linear;
            background-size: 200%;
            
        }
        @keyframes lineanimator{
            from{
                background-position: 0% 0%;
            }
            to{
                background-position: 100% 100%;
            }
        }
        #about p, #mright p, #news p, #gallery p, #message p,#location p{
            text-align: center;
            margin: 15px;
            font-size: 18px;
            
        }
        #about div, #mright div, #news div{
            width: 29%;
            margin: 2%;
            float: left;
/*            border: 2px red solid;*/
        }
        #about div img{
            display: block;
            margin: 0 auto;
        }
        #about div img.mb20{
            margin-bottom:20px; 
        }
        #mright{
            padding: 20px 0px;
            background: url(../images/bg1.jpg) no-repeat center center fixed;
            background-size: cover;
            color: #b5afaf;
        }
            
        #mright p pleft{
            text-align: left;
        }
        #mright p pright{
            text-align: right;
        }
        .headpic{
            padding-top: 29%;
            border-radius: 50%;
            box-shadow: 2px 2px 2px gray;
            background: url(
            ../images/headpic.jpg)no-repeat center center;
            background-size: cover;
        }
        
        #news div{
            width: clac(29% - 10px);
            height: 250px;
            border: solid 2px gray;
            overflow: hidden;
            position: relative;
        }
        #news div::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:url(../images/news1.jpg) no-repeat center center;
            background-size: cover;
            transition: all 1.5s ease;
        }
        #news div#n2::before{
            background: url(../images/news2.jpg) no-repeat center center;
            background-size: cover;
        }
        #news div#n3::before{
            background: url(../images/news3.jpg) no-repeat center center;
            background-size: cover;
        }
        
        #news div::after{
            content: "中視新聞";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0px;
            background-color: rgba(0, 0, 0, 0.72);
            font-size: 20px;
            color: white;
            text-align: center;
            line-height: 50px;
            transition: all 1s ease;
        }
        #news div#n2::after{
            content: "華視新聞";
        }
        #news div#n3::after{
            content: "台視新聞";
        }
        #news div:hover::before{
            cursor: pointer;
            transform: scale(1.3);
        }
        #news div:hover::after{
            height: 50px;
            
        }
        .model{
            position:fixed;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.51);
        }
        .model .closebtn{
            position: fixed;
            right: 4%;
            top: 4%;
            color: white;
            cursor: pointer;
            z-index: 888;
            
        }
        .hidemodel{
            display: none;
        }
        .model iframe{
            position: absolute;
            top: calc(50% - 40%);
            left: calc(50% - 40%);
            display: block;
            z-index: 3;
        }
        
/*        作品展示*/
       
        .waterfall{
            column-count: 3;
            column-gap: 0;
        }
        .item{
            list-style: none;
            font-size: 0px;
            padding: 5px;
            position: relative;
            cursor: pointer;
        }
        .item::before{
            content: attr(alt);
            font-size: 18px;
            position: absolute;
            bottom: 5px;
            left: 5px;
            width: calc(100% - 10px);
            color: white;
            background-color: rgba(0, 0, 0, 0.63);
            text-align: center;
            height: 0px;
            line-height: 40px;
            transition: all 0.7s;
        }
        .item:hover::before{
            height: 40px;
            
        }
        .itemcontent{
            width: 100%;
        }
        
        footer{
            background-color: rgba(167, 167, 167, 0.67);
            padding: 10px;
            text-align: center;
        }
        
        footer h5{
            font-weight: normal;
            color: black;
            font-size: 18px;
        }
        
        #goTop{
            position: fixed;
            z-index: 999;
            bottom: 30px;
            right: 0;
            color: dimgray;
            cursor: pointer;
        }
        
        
        /*        手機版*/
        @media screen and (max-width:576px) {
            .bar {
                display: block;
            }

            nav ul {
                height: 0px;
                overflow: hidden;
                transition: height 0.5s;
            }
            
            nav ul li:hover {
            display: block;
/*            font-weight: 700;*/
            animation: color 0.5s linear infinite alternate;
            
           }

            .menuHeight {
                height: 300px;
            }
            nav ul li{
                display: block;
                padding: 15px 0px;
                text-align: center;
            }
            #about div img{
                width: 100%;
            }

            
            #about div, #mright div ,#news div{
                float: none;
                width: 95%;
                margin: 0 auto;
            }
            #about p, #mright div p, #mright p.pleft, #mright p.pright, #news p{
                width: 95%;
                text-align: justify;
                margin: 0 auto;
            }
            #mright div.headpic{
                padding-top:95%; 
            

            }
            #news div{
                margin-top:10px;
            }
            
            .waterfall{
            column-count: 1;
            column-gap: 0;
            }
            
            footer {
                padding: 5px;
            }
            footer h5{
                font-size: 14px;
            }

        }
        